{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/blog_posts.css' %}">
{% endblock %}

{% block content %}




<!--
****************************
SECTION RECOMMENDATION POSTS
****************************
-->

<section class="section-recommendations">
    <div class="head-container-center">
        <h1 class="head-heading">Staff Reviews</h1>
        <p class="head-text">
          Dive into our staff's vinyl album reviews, a reflection of a hundred years of shared musical love.
        </p>
    </div>
    
    <div class="grid-container-blog">
        <div class="item-1">
            <div class="img-container">
                    <img class="post-img" src="{{ first_post.article_image.url }}" alt="Card image cap"/> 
            </div>
            <div class="card-body-post">
                <h5 class="card-title"><strong>{{ first_post.title }}</strong></h5>
                <p class="card-sub-title">{{ first_post.sub_title }}</p>
                <p class="card-text">by {{ first_post.author }}</p>
            </div>
        </div>

        <div class="item-2-container">
            {% for post in recent_added_posts %}
                <div class="item-2">
                    <div class="img-container">
                        <img class="post-img" src="{{ post.article_image.url }}" alt="Card image cap"/> 
                    </div>

                    <div class="card-body-post">
                        <h5 class="card-title"><strong>{{ post.title }}</strong></h5>
                        <p class="card-sub-title">{{ post.sub_title }}</p>
                        <p class="card-text">by {{ post.author }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="btn-container-center">
        <a href=""><button class="btn-explore">Explore more</button></a>
    </div>
</section>

{% endblock %}