{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}

<section class="section-home">
  

    <div class="grid-col-left">
    </div>

    <div class="grid-col-right">

      <div class="right-1">
        <p class="delivery-banner">Free delivery on orders over €{{ free_delivery_threshold }}!</p>
       
          
      </div>

      <div class="right-2">
      </div>

    </div>
    

</section>





{% endblock %}