{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}



{% block content %}

<section class="section-home">
  

    <div class="grid-col-left">
      <div class="col-left-top">
        <h1 class="heading heading--top">Long live</h1>
        <h1 class="heading heading--bottom">Vinyl!</h1>
      </div>

      <div class="col-left-bottom">
        <div class="red-box">
          <p>Albums</p>
        </div>
        <div class="text-container">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, 

        </div>
      </div>
    </div>

    <div class="grid-col-right">

      <div class="right-1">
        <p class="delivery-banner">Free delivery on orders over €{{ free_delivery_threshold }}!</p>
      </div>

      <div class="right-2">
        <div class="cover-img-container">
        <img class="cover-img" src="{{ random_album_1.featured_image.url }}">
        </div>
        <div class="cover-img-container">
          <img class="cover-img" src="{{ random_album_2.featured_image.url }}">
          </div>
          
      </div>

    </div>
    

</section>


{% block postloadjs %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}


{% endblock %}