{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block content %}

    <!------- Landing section ------->
    <section class="section-home">
        <div class="home-container">
            <div class="home-col-left">
                <div class="text-container">
                    <h1>Don't just listen - <br>experience.</h1>
                    <p>
                        Immerse yourself in a symphony of choices as you peruse our curated selection of vinyl record gems.
                        From timeless classics to cutting-edge releases start your auditory adventure today.
                    </p>
                </div>
            </div>
            <div class="home-col-right">
                <img src="{% static 'images/home_imgs/home-img.jpg' %}" alt="Image of grooves of spinning vinyl record">
            </div>
        </div>
    </section>

    <!----------- About section ----------->

    <section class="section-about ">
        <div class="about-container">
            <div class="about-img-continer">
                <img class="" src="{% static 'images/home_imgs/about_img.jpg' %}" alt="">
            </div>
            <div class="about-text-container">
                <p>
                    Welcome to Vinyl Hog, your premier destination for curated vinyl collections. 
                    Based in Dublin, we are passionate vinyl enthusiasts dedicated to bringing you 
                    the finest selection of records. Our journey began with a simple belief: nothing 
                    compares to the quality and warmth of vinyl.
                    <br>
                    <br>
                    We meticulously curate our inventory to ensure every album meets our high standards.
                    We are specialists in sourcing rare and unique records, particularly 
                    in ambient, experimental, classical and jazz genres from all over the world, offering a rich 
                    and immersive listening experience. Our diverse selection caters to both seasoned collectors and 
                    new vinyl aficionados. 
                    <br>
                    <br> 
                    Join us in celebrating the timeless quality of vinyl. Whether you're hunting for a rare gem or 
                    exploring new sounds, Vinyl Hog is your go-to source for quality and passion in every groove.
                </p>
            </div>
        </div>
    </section>

    <!------- New Releases section ------->

    <section id="new-releases" class="section-new-releases">
        <div class="head-container-center">
            <h1 class="head-heading">New Releases</h1>
            <p class="head-text">
            View the latest additions to our extensive stock.
            </p>
        </div>
        <div class="products-grid">
            {% for album in recent_added_albums %}
                <div class="card">
                    {% if album.on_sale == True %}
                        <div class="on-sale-container">
                                <p>On Sale</p>
                        </div>
                    {% endif %}
                    <a class="" href=" {% url 'product' album.id %}">
                        <img class="card-img" src="{{ album.featured_image.url }}" alt="Cover image of {{ album.title }} by {{ album.artist }}">
                    </a>
                    <div class="card-body">
                        <a class="" href=" {% url 'product' album.id %}">
                            <h5 class="product-card-title"><strong>{{ album.title }}</strong></h5>
                        </a>
                        <p class="card-artist">{{ album.artist }}</p>
                        <div class="card-details">
                            <p class="card-text">Condition: {{ album.condition }}</p>
                            <p class="card-text">Stock: {{ album.stock }}</p>
                            {% if album.on_sale == True %}
                                <p class="card-text"><s>€{{ album.price }}</s> €{{ album.sale_price }}</p>
                            {% else %}
                                <p class="card-text">€{{ album.price }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="btn-container-center">
            <a class="btn-explore" href="{% url 'products' %}">Explore more</a>
        </div>
    </section>

    <!------- Sale section ------->

    <section class="section-sale">
        <div class="sale-img-container halftone">
            <img class="" src="{% static 'images/home_imgs/gracejones_livingmylife.jpg' %}" alt="Section sale image">
            <img class="" src="{% static 'images/home_imgs/foreverchanges.jpg' %}" alt="Section sale image">
        </div>

        <div class="sale-text-container">
            <div class="">
                <h1 class="head-heading head-heading--sale">sale</h1>
                <div class="sale-btn-container">
                <a class="btn-explore btn-explore--sale" href="{% url 'products' %}?category=on_sale">Explore more</a>
            </div>
        </div>
    </section>

    <!------- Recommendations section ------->

    {% if posts %}
        <section class="section-recommendations">
            <div class="vh-container">
                <div class="head-container-center">
                    <h1 class="head-heading">Reviews</h1>
                    <p class="head-text">
                    Dive into our curated vinyl album reviews, a reflection of a hundred years of shared musical love.
                    </p>
                </div>
                
                <div class="item-1-container">
                    <div class="item-1">
                        <div class="img-container">
                            <img src="{{ post_1.article_image.url }}" alt="Card image cap"> 
                        </div>
                        <div class="card-body-post">
                            <a href=" {% url 'post' post_1.id %}">
                                <h5 class="post-card-title"><strong>{{ post_1.title }}</strong></h5>
                            </a>
                            <p class="post-card-sub">{{ post_1.sub_title }}</p>
                            <p class="post-card-text">by {{ post_1.author }}</p>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="item-2-container">
                {% for post in posts_1_5 %}
                    <div class="item-2">
                        <div class="img-container">
                            <a href=" {% url 'post' post.id %}">
                                <img class="post-img" src="{{ post.article_image.url }}" alt="Card image cap">
                            </a>
                        </div>
                        <a href="{% url 'post' post.id %}">
                            <div class="card-body-post">
                                <h5 class="post-card-title"><strong>{{ post.title }}</strong></h5>
                                <p class="post-card-sub">{{ post.sub_title }}</p>
                                <p class="post-card-text">by {{ post.author }}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            
            <div class="btn-container-center">
                <a class="btn-explore" href="{% url 'posts' %}">Explore more</a>
            </div>
        </section>
        {% endif %}

        <!------- Featured in section ------->

        <section class="section-featured-in">
        <div class="container-featured-in">
            <h2 class="text-muted">Featured In</h2>
            <div class="logos-container">
                <a href="https://pitchfork.com/" target="blank">
                    <img class="featured-logo featured-logo--color" src="{% static 'images/home_imgs/featured_in/Pitchfork_Media_Logo.png' %}" alt="pitchfork logo">
                </a>
                <a href="https://ra.co/" target="blank">
                    <img class="featured-logo-lg" src="{% static 'images/home_imgs/featured_in/ResidentAdvisor_logo.png' %}" alt="ResidentAdvisor logo">
                </a>
                <a href="https://www.spin.com/" target="blank">
                    <img class="featured-logo" src="{% static 'images/home_imgs/featured_in/Spin-logo.png' %}" alt="Spin website logo">
                </a>
                <a href="https://thevinylfactory.com/" target="blank">
                    <img class="featured-logo-lg" src="{% static 'images/home_imgs/featured_in/The_Vinyl_Factory_Logo.png' %}" alt="The viny factory logo">
                </a>
                <a href="https://theplayground.co.uk/" target="blank">
                    <img class="featured-logo-lg" src="{% static 'images/home_imgs/featured_in/Playground.jpg' %}" alt="The playground.co.uk logo">
                </a>
                <a href="https://www.billboard.com/" target="blank">
                <img class="featured-logo" src="{% static 'images/home_imgs/featured_in/Billboard_logo.png' %}" alt="Billboard.com logo">
                </a>
            </div>
        </div>
    </section>

{% endblock %}
