{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/post.css' %}" />

{% endblock %}

{% block content %}

<section class="post-section">
    <div class="container">
        <div class="">
            <img class="article-img" src="{{ post.article_image.url }}" alt="article image">
        </div>
        <div class="heading-container">
            <h3 class="article-heading">{{ post.title }}</h3>
            <p class="sub-title">{{ post.sub_title }}</p>
            <p class="author">by {{ post.author }}</p>
        </div>
        <div class="article-container">
            <p class="article"> {{ post.content }}</p>
        </div>
        <a href=" {% url 'product' post.product.id %}">
            <div class="album-container">
                <img src="{{ post.product.featured_image.url }}">
                <p>{{ post.product }}</p>
            </div>
        </a>
    </div>
    
</section>

{% endblock %}