asgiref==3.8.1
cloudinary==1.40.0
contourpy==1.2.1
crispy==0.7.4
crispy-bootstrap4==2024.1
cycler==0.12.1
dataclass-wizard==0.22.3
dj-database-url==2.2.0
Django==5.0.7
django-allauth==0.63.5
django-cloudinary-storage==0.3.0
django-countries==7.6.1
django-crispy-forms==2.2
django-summernote==0.8.20.0
django-widget-tweaks==1.5.0
djangoviz==0.1.1
fabio==2024.4.0
fonttools==4.53.1
graphqlclient==0.2.4
h5py==3.11.0
hdf5plugin==4.4.0
kiwisolver==1.4.5
lxml==5.2.2
matplotlib==3.9.1
numpy==2.0.0
pillow==10.4.0
psycopg2==2.9.9
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
silx==2.1.0
sqlparse==0.5.0
stripe==10.3.0
