
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}



{% block content %}
{% if wishlist %} 
    <div class="head-container-center">
        <h1 class="head-heading">Your Wishlist</h1>
        <p class="head-text">
            
        </p>
    </div>
    {% else %}
    <div class="head-container-center">
        <h1 class="head-heading">Your Wishlist</h1>
        <p class="head-text"> Your wishlist is empty.</p>
    </div>



{% for product in wishlist %}

<p>{{ product.product.title }}</p>
{% endfor %}



<div class="head-container-center">
    <h1 class="head-heading">Thank You</h1>
    <p class="head-text">
        Your order information is below.<br> A confirmation email was sent to <strong>{{ order.email }}.
    </p>
</div>

{% endblock %}