{% extends "base.html" %} 
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/basket.css' %}" />
{% endblock %} 

{% block content %}
    {% if basket_items %} 
        <div class="basket-container">

            <!-- Left column -->
            <div class="basket-col-left">
                <h3 class="checkout-heading"><strong>Basket</strong></h3>
                {% for item in basket_items %}
                    <div class="checkout-item">
                        <div class="checkout-img-contatiner">
                            <a href="{% url 'product' item.product.id %}">
                                <img class="checkout-img" src="{{ item.product.featured_image.url }}" alt="image of album cover" />
                            </a>
                        </div>
                    
                        <div class="item-details-contatiner">
                            <div class="item-title-box">
                                <p class="item-title">{{ item.product.title }}</p>
                                <p class="item-price">€{{ item.price_sub_total }}</p>
                            </div>
                            <p class="item-detail">Artist: {{ item.product.artist }}</p>
                            <p class="item-detail">Condition: {{ item.product.condition }}</p>
                            {% if item.product.on_sale == True %}
                                <p class="item-detail"><s> €{{ item.product.price }}</s> €{{ item.product.sale_price }}</p>
                            {% else %}
                                <p class="item-detail">€{{ item.product.price }}</p>
                            {% endif %}
                                    
                            <div class="btn-container">
                                <!-- Update basket item form -->
                                <form class="qty-form" action="" method="POST" hx-post="" hx-target="body">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_type" value="update">
                                    <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                    <input class="qty-input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" />
                                    <input type="submit" class="btn-explore btn-explore--small btn-custom--basket" value="Update" />
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                                </form>
                                
                                <!-- Delete basket item form -->
                                <form class="delete-form" action="" method="POST" hx-post="" hx-target="body">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_type" value="delete">
                                    <input type="hidden" name="product_id" value="{{ item.product.id }}">
                                    <input type="submit" class="btn-explore btn-explore--small btn-custom--basket" value="Delete" />
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}" />
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Right column -->
            <div class="basket-col-right">
                <div class="cost-container">
                    <h3 class="checkout-heading"><strong>Totals</strong></h3>
                    <div class="cost-item">
                        <p class="item-detail">Total products:</p>
                        <p class="item-detail">{{ product_count }}</p>
                    </div>
            
                    <div class="cost-item">
                        <p class="item-detail">Subtototal:</p>
                        <p class="item-detail">€{{ price_total }}</p>
                    </div>
                    
                    <div>
                        <div class="cost-item">
                            <p class="item-detail">Delivery:</p>
                            {% if delivery_fee != "Free" %}
                                <p class="item-detail">€{{ delivery_fee }}0</p>
                            {% else %}
                                <p class="item-detail">{{ delivery_fee }}</p>
                            {% endif %}
                        </div>

                        {% if free_delivery_delta > 0 %}
                            <p class="item-detail--delta  text-muted">Spend €{{ free_delivery_delta }} to avail of free delivery</p>
                        {% endif %}
                    </div>
            
                    <div class="cost-item">
                        <p class="item-detail">Total:</p>
                        <p class="item-detail">€{{ grand_total }}</p>
                    </div>
                    <div class="mt-3">
                        <a class="btn-explore " href="{% url 'checkout' %}">Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        <div class="head-container-center" style="min-height: 33vh;">
            <h1 class="head-heading mb-5">Your basket is empty</h1>
            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                <span class="btn-explore"><i class="fas fa-chevron-left mr-3"></i>Keep Shopping</span>
            </a>
        </div>
    {% endif %}

{% endblock %}
