


{% extends "base.html" %} 
{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/products.css' %}" />
{% endblock %} {% block content %}

<!--
****************************
SECTION PRODUCTS 
****************************
-->

<section class="section-new-releases">
  <div class="section-head-container">
      <h1 class="section-heading">Your Wishlist</h1>
      <p class="section-text">
          
      </p>

  </div>
  <div class="products-grid">
    {% if wishlist == None %}
    <p>Your wishlist is empty</p>
    {% endif %}
    
    {% for product in wishlist %}

      <div class="card">
          <a class="product-link" href=" {% url 'product' product.product.id %}">
              <img class="card-img-top" src="{{ product.product.featured_image.url }}" alt="Card image cap" />
          </a>
          <div class="card-body">
              <a class="product-link" href=" {% url 'product' product.product.id %}">
                  <h5 class="card-title">{{ product.product.title }}</h5>
              </a>
              <p class="artist">{{ product.product.artist }}</p>

              {% for genre in product.product.genres.all %}
              <a class="product-link" href="{% url 'products' %}?genre={{genre.name}}">
                  <p class="genre-tag">{{genre}}</p>
              </a>
              {% endfor %}
              

              <div class="card-details">
                  <p class="card-text">Condition: {{ product.product.condition }}</p>
                  <p class="card-text">Stock: {{ product.product.stock }}</p>
                  <p class="card-text">€{{ product.product.price }}</p>
                
                  <a href ="{% url 'wishlist-delete' product.product.id %}"><p>Delete</p></a>
                

              </div>
          </div>
      </div>

      {% endfor %}
  </div>
</section>
wishlist
{{ wishlist }}

{% for product in wishlist %}

<p>{{ product.product.title }}</p>
{% endfor %}




{% endblock %}

{% block extra_js %}
{{ block.super }}
<script src="{% static 'js/products.js' %}"></script>
{% endblock%}

