{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/404.css' %}">
{% endblock %}

{% block content %}
    <main class="main-404">
        <div class="head-container-center">
            <h1 class="head-heading">The page you are looking for isn't available</h1>
        </div>
        <div class="text-404">
            <p>
                “Somebody was trying to tell me that CDs are better than<br> vinyl because they don’t have any surface noise. 
            </p>
            <p>I said, Listen, mate, life has surface noise.”</p>
            <p><i>John Peel </i></p>
        </div>
      
        <div class="btn-container-center">
            <a href="{% url 'products' %}"><button class="btn-explore"><i class="fas fa-chevron-left mr-3"></i>Return to shop</button></a>
        </div>
    </main>
{% endblock %}