{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/product-management.css' %}">
{% endblock %}

{% block content %}
<main class="management-page">
    <div class="overlay"></div>
        <div class="container mt-5">
            <div class="row mb-4">
                <div class="col-12 col-md-6">
                    <hr>
                    <h2 class="logo-font mb-4">Product Management</h2>
                    <h5 class="text-muted">Add a Product</h5>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-6">
                    <form method="POST" action="{% url 'add-product' %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.name == 'artist' %}
                                <div class="product-input">
                                    {{ field | as_crispy_field }}
                                </div>
                                <div>
                                    <a class="btn btn-outline-success mb-5" href="{% url 'add-artist' %}">Add a new artist</a>
                                </div>

                            {% elif field.name == 'genres' %}
                                <div class="product-input">
                                    {{ field | as_crispy_field }}
                                </div>
                                <div>
                                    <a class="product-input btn btn-outline-success mb-5" href="{% url 'add-genre' %}">Add a new genre</a>
                                </div>
                                
                            {% elif field.name == 'on_sale' %}
                                <div class="product-input on_sale_box mb-5">
                                    {{ field.label }}
                                    {{ field  }}
                                </div>

                            {% else %}
                                <div class="product-input mb-5">
                                    {{ field | as_crispy_field }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        
                        <div class="text-right">
                            <a class="btn-custom mt-3 mb-4" href="{% url 'products' %}">Cancel</a>
                            <button class="btn-custom  mb-5" type="submit">Add Product</button>
                        </div>
                    </form>
                    
                </div>            
        </div>
    </div>
</main>
{% endblock %}