{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/product-management.css' %}">
{% endblock %}


{% block content %}
    <main class="management-page">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">
                    <hr>
                    <h2 class="logo-font mb-4">Genre Management</h2>
                    <h5 class="text-muted">Edit an Genre</h5>
                    <hr>
                </div>
            </div>
            
            <div class="row container--fields">
                <div class="col-12 col-md-6">
                    <form method="POST" action="{% url 'edit-genre' genre.id %}" class="form mb-2" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                                {{ field | as_crispy_field }}
                        {% endfor %}
                        <div class="text-right">
                            <a class="btn-custom mt-3 mb-4" href="{% url 'genre-management' %}">Cancel</a>
                            <button class="btn-custom mb-5" type="submit">Update Genre</button>
                        </div>
                    </form>
                </div>            
            </div>
        </div>
    </main>
{% endblock %}
