
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'styles/product-management.css' %}">
{% endblock %}

{% block content %}
    <main class="management-page">
        <div class="overlay mt-5"></div>
        <div class="container container--product-management">
            <div class="tabs-container">
                <a class="btn btn-secondary mr-2" href="{% url 'product-management' %}">Product Management</a>  
                <a class="btn btn-secondary mr-2" href="{% url 'artist-management' %}">Artist Management</a>
                <a class="btn btn-secondary mr-2" href="{% url 'genre-management' %}">Genre Management</a>
         
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <hr>
                    <h2 class="logo-font mb-4">Product Management</h2>
                    <h5 class="text-muted">{{sub_title}}</h5>
                    <hr>
                </div>
            </div>

            <div class="row mb-3 mt-5 actions-container">
                <div class="tabs-container">
                    <a class="btn btn-secondary" href="{% url 'product-management' %}">All</a> 
                    <a class="btn btn-secondary" href="{% url 'product-management' %}?sale=on_sale">On Sale</a>
                    <a class="btn btn-secondary" href="{% url 'product-management' %}?stock=in_stock">In Stock</a>
                    <a class="btn btn-secondary" href="{% url 'product-management' %}?stock=out_stock">Out of  Stock</a>
                    <a class="btn btn-outline-success" href="{% url 'add-product' %}">Add a new album</a> 
                </div>
            </div>
            
            <div class="row">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Artist</th>
                            <th scope="col">Stock</th>
                            <th scope="col">Price</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                            <td>{{ product.title }}</td>
                            <td>{{ product.artist }}</td>
                            <td>{{ product.stock }}</td>
                            <td>€{{ product.price }}</td>
                            <td><a class="btn btn-outline-warning" href="{% url 'edit-product' product.id %}"> Edit</a></td>
                            <td><a class="btn btn-outline-danger" href="{% url 'delete-product' product.id %}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}