{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}



{% block content %}
<main class="account-main">
    <div class="head-container-center head-container--account">
        <h1 class="head-heading">{% trans "Sign In" %}</h1>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
            <p class="section-text">{% blocktrans with site.name as site_name %}Please sign in with one
            of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
            for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

            <div class="socialaccount_ballot">
                <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </ul>

                <div class="login-or">{% trans 'or' %}</div>
            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
            <p class="head-text">{% blocktrans %}If you have not created an account yet, then please
                <a href="{{ signup_url }}"><strong>sign up</strong></a> first.{% endblocktrans %}</p>
        {% endif %}

    </div>

    <div class="account-form-container">
        <form class="signup mt-3 account-form" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% for field in form.visible_fields|slice:'2' %}

                <!-- Fields in log in form  -->
                <div class="field-container">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <div class="form-input-container">
                        {{ field|add_class:'form-control custom-input'|attr:'placeholder:'|attr:'required:' }}
                    </div>
                    {% for error in field.errors %}
                        <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endfor %}

            <!-- Submit button -->
            <div class="btn-container mt-3">
                <button class="btn-custom" type="submit">{% trans "Sign In" %}</button>
            </div>

            <div class="forget-password-container mt-4">
            <a href="{% url 'account_reset_password' %}"><p class='section-text '>{% trans "Forgot Password?" %}</p></a>
            </div>
        </form>
    </div>
</main>
{% endblock %}