{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/footer_pages.css' %}">
{% endblock %}

{% block content %}
    <main class="footer-main container">
    
        <h1 class="head-heading">Our Story</h1>
        
        <div class="information-container-footer ">
            
            <p>Vinyl Hog is an independent online record shop that stands as a testament to the true essence of music appreciation. 
                Our shop thrives on meticulous curation, offering a handpicked selection of vinyl that spans genres and eras, ensuring every music enthusiast finds something to fall in love with.
            </p> 
            <p>
                At Vinyl Hog, our passion for all things vinyl is palpable. We are driven by a deep love for the rich, warm sound that only quality vinyl can deliver. 
                This dedication to excellence means that every record in our collection is carefully inspected and handled, guaranteeing top-notch quality for our customers, both new and used.
                
            </p>
            <p>
                Beyond our exceptional collection, Vinyl Hog is built on a foundation of positive work culture. Our team is a close-knit group of music lovers who bring their enthusiasm and expertise to every aspect of our shop. 
                We believe that a supportive and vibrant work environment translates into a better experience for our customers, as our passion for music shines through in our service.
            </p>
                <p>
                Discover the difference that true dedication to vinyl and a genuine love for music can make.<br>Vinyl Hog – where every record tells a story and every purchase supports a community of passionate music aficionados.
            </p>
        </div>
    </main>

{% endblock %}