{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/footer_pages.css' %}">
{% endblock %}

{% block content %}
    <main class="footer-main container">
    
        <h1 class="head-heading">Reurns Information</h1>
        
        <div class="information-container-footer ">
            <h3>Returns policy:</h3>
            <p class="mb-2">We understand returning an item is a pain. Our goal is to make this process as seamless as possible.</p>
            <p class="mb-2">30-day no-questions-asked return.</p>
            <p>You are liable for any damage resulting from the repackaging and return process.</p>

            <h3>How long does it take to receive a full refund?</h3>
            <p>Refunds will be issued within 10 days of receiving your return to our warehouse and we will update you via email regarding the refund status. 
            If your refund is not processed within 14 days, please contact info@vinylhog.com and include the original order number and the email/mobile number used when placing the order.
            </p>
            

            <h3>Cancelation policy:</h3>
            <p>If you wish to cancel your order, please contact us immediately via info@vinylhog.com and include your original order number and the email/mobile number used when placing the order.
                If we have not shipped the item(s), then we can simply change or cancel the order. If the items have already been shipped, then we will guide you through the steps to return the order. Alternatively, check our returns policy on how to return an order.
                Once the cancelled order arrives at our warehouse, we will inspect the item(s) and communicate any issues directly. We will then process your refund.
            </p>

            <h3>Any questions:</h3>
            <p>Contact us at info@vinylhog.com</p>
        </div>
    </main>

{% endblock %}




