{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/footer_pages.css' %}">
{% endblock %}

{% block content %}
<main class="footer-main container">
   
        <h1 class="head-heading">Shipping Information</h1>
    

    <div class="information-container-footer ">
        <h3>Where do you ship to?</h3>
        <p>We ship to most countries worldwide from our warehouse in Dublin, Ireland.</p>
        <h3>How quickly can you process my order?</h3>
        <p>We aim to process every order on the day it is received. However, processing times may be longer during the Christmas period.</p>
        <h3>How much does delivery cost, and how long does it take to arrive?</h3>
        <p>We offer a flat delivery rate worldwide through FedEx, TNT, or DHL (All delivery methods include insurance and Track&Trace capabilities).</p>
        <p class="pl-4 mb-3">Orders under €50.00 - Delivery fee of €12.00</p>
        <p class="pl-4 mb-3">Orders over €50.00 - Free delivery</p>
        <p class="pl-4 mb-3">Ireland - Next day delivery</p>
        <p class="pl-4 mb-3">Europe - Approximately 3-4 business days</p>
        <p class="pl-4 mb-3">Worldwide - Approximately 5-10 business days</p>
    </div>
</main>

{% endblock %}