{% load static %}
<!DOCTYPE html>

<html lang="en">

  <head>
      {% block meta %}
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
      <meta name="description" content="Vinyl Hog record store in Dublin, Ireland">
      <meta name="keywords" content="vinyl store, recond store, vinyl store dublin, record store dublin, 
            used records dublin, new records dublin, new vinyl dublin, used vinyl dublin, album reviews, music reviews, music store dublin">
      {% endblock %}

      {% block extra_meta %}
      {% endblock %}
      
      {% block corecss %}
      <!-- Font-awesome -->
      <script src="https://kit.fontawesome.com/1002ac1991.js" crossorigin="anonymous"></script>

      <!-- Bootstrap -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      
      <!-- Custom CSS -->
      <link rel="stylesheet" href="{% static 'styles/general.css' %}"/>
      <link rel="stylesheet" href="{% static 'styles/base.css' %}"/>

   

      <!-- Favicon -->
      <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
      <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
      <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
      <link rel="manifest" href="/site.webmanifest">
      {% endblock %}

      {% block extra_css %}
      {% endblock %}

      {% block corejs %}
      <!-- STRIPE -->
      <script src="https://js.stripe.com/v3/"></script>
      
      <!-- htmx -->
      <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

      <!-- Bootstrap -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      {% endblock %}

      <title>Vinyl Hog {% block extra_title %}{% endblock %}</title>
        
  
      
  </head>

<body>
    {% include 'header.html' %}




    {% block content %}
    {% endblock %}

    <!--
    ****************************
    FOOTER
    ****************************
    -->

    <footer class="footer">
        
        <div class="subscribe-container">
            <h2 class="subscribe-heading">
                For updates on new products join our newsletter
            </h2>
            <div class="container">
                <form class="subscribe-form">
                    <input class="input-subscribe" />
                    <button class="btn-footer margin-right-sm">Subscribe</button>
                </form>
            </div>
        </div>

        <div class="footer-divider"></div>
        <div class="footer-container">
            <div class="footer-left">

                <a href="{% url 'home' %}">
                    <div class="logo-container--footer">
                        <p class="logo--footer logo--footer--1">Vinyl</p>
                        <p class="logo--footer logo--footer--2">Hog.</p>
                    </div>
                    </a>
                
            </div>

            <div class="footer-right">

                <div class="footer-column">
                    <p class="footer-heading">Get Help</p>
                    <ul class="footer-list">
                        <li class="footer-list-item">+00 576 9766432</li>
                        <li class="footer-list-item">info@vinylhog.com</li>
                    </ul>
                </div>
               
                <div class="footer-column">
                    <p class="footer-heading">Information</p>
                    <ul class="footer-list">
                        <li class="footer-list-item">FAQ</li>
                        <li class="footer-list-item"><a href="{% url 'footer-shipping' %}">Shipping Information</a></li>
                        <li class="footer-list-item"><a href="{% url 'footer-returns' %}">Returns & Exchanges</a></li>
                    </ul>
                </div>

                <div class="footer-column">
                    <p class="footer-heading">About</p>
                    <ul class="footer-list">
                        <li class="footer-list-item"><a href="{% url 'footer-our-story' %}">Our Story</a></li>
                        <li class="footer-list-item"><a href="{% url 'footer-planet-vinylhog' %}">Planet Vinyl Hog</a></li>
                    </ul>
                </div>


                <div class="footer-column">
                    <p class="footer-heading">Social</p>
                    <ul class="footer-list">
                        <li class="footer-list-item">
                            <a href="https://www.instagram.com/" target="blank"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li class="footer-list-item">
                            <a href="https://www.facebook.com/profile.php?id=61560688801033" target="blank"><i class="fa-brands fa-square-facebook"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
       
    </footer>


    {% block postloadjs %}
        <script src="https://kit.fontawesome.com/1002ac1991.js" crossorigin="anonymous"></script>
        
        <script>
            $(document).ready(function(){
                $('.toast').toast('show');
            });
        </script>
    {% endblock %}
  </body>

</html>

