{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/header.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/toasts.css' %}"/>
{% endblock %}

<header>
    <nav class="navigation">
        <div class="nav-left-container">
            <div class="logo-container">
                <a class="logo logo--1" href="{% url 'home' %}">Vinyl</a>
                <a class="logo logo--2" href="{% url 'home' %}">Hog.</a>
            </div>
        </div>

        <div class="nav-right-container">

            <div class="nav-item dropdown ml-5" >
                <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'products' %}?condition=fresh">Latest Releases</a>
                    <a class="dropdown-item" href="{% url 'products' %}">All Vinyl</a>
                    <a class="dropdown-item" href="{% url 'products' %}?condition=New">New Vinyl</a>
                    <a class="dropdown-item" href="{% url 'products' %}?condition=Used">Used Vinyl</a>
                </div>
            </div>

            
            <div class="icons-container">
          


                <div class="nav-item">
                    <form id="search-form" method="GET" action="{% url 'products' %}">
                        <div class="input-group w-100">
                            <input id="search-box" class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                            <div class="input-group-append">
                                <button id="search-icon" class="btn-search" type="button">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            
                <div class="nav-item">
                    <a href="{% url 'wishlist-items' %}"><i class="fa-solid fa-heart"></i></a>
                </div>
        
                <div class="nav-item dropdown ">
                    <a class="" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-user nav-item"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu--account" aria-labelledby="user-options">
                        {% if request.user.is_authenticated %} 
                        {% if request.user.is_superuser %}
                        <a href="{% url 'product-management' %}" class="dropdown-item">Product Management</a>
                        <a href="{% url 'blog-management' %}" class="dropdown-item">Blog Management</a>
                        {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </div>
                </div>

                <div class=" nav-item--basket nav-item">
                    <a href="{% url 'basket' %}">
                        <i class="fa-solid fa-cart-shopping "></i>
                    </a>
                    {% if product_count > 0 %}
                        <div class="basket-count-container">
                            <p class="product-count">{{product_count}}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>


{% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'toasts/toast_success.html' %}
                {% elif level == 30 %}
                    {% include 'toasts/toast_success_alt.html' %}
                {% else %}
                    {% include 'toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endif %}





<script>
    let searchBox = document.getElementById("search-box");
    let searchIcon = document.getElementById("search-icon");
    let searchForm = document.getElementById("search-form");

    function showSearchBox(event) {
        searchBox.style.display = "block";
        searchBox.focus(); // Focus on the input field
        event.stopPropagation();
        document.addEventListener('click', closeSearchBox);
    }

    function closeSearchBox(event) {
        if (!searchBox.contains(event.target) && event.target !== searchIcon) {
            searchBox.style.display = "none";
            document.removeEventListener('click', closeSearchBox);
        }
    }

    searchIcon.addEventListener('click', function(event) {
        if (searchBox.value.trim() !== "") {
            searchForm.submit();
        } else {
            showSearchBox(event);
        }
    });
</script>