/*
****************************
ACCOUNT PAGES - GENERAL
****************************
*/

.account-main {
    padding: 0 3.2rem;
}

.head-container--account {
    margin-top: 12rem;
    margin-bottom: 6.2rem;
  }


.account-form-container {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0rem;
    margin-bottom: 12rem;
}

.submit {
    margin-top: 1.8rem;
}

.field-container {
    display: grid;
    grid-template-columns: 1fr auto;    
    gap: 3.2rem;
    align-items: center;
    padding-bottom: 1.2rem;

}

.form-label {
    font-size: 1.4rem;
}

.form-input-container {
    width:300px;
}

.btn-container {
    display: flex;
    justify-content: center;
}

/*
****************************
LOGIN PAGE
****************************
*/

.forget-password-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 4.8rem;
}

.forget-password-container .section-text {
    font-size: 1.2rem;
}


@media (max-width:500px) {

    .account-main {
        padding: 0 2.4rem;
    }

    .account-form-container,
    .account-form,
    .field-container,
    .form-input-container {
        width: 100%;
    }


    .field-container {
        display: flex;
        flex-direction: column;    
        gap: .5rem;
        align-items: start;
        padding-bottom: 2.4rem;
        width: 100%;
    }
  }

  