/*
****************************
NAVIGATION
****************************
*/

.navigation {
    font-size: 1.8rem;
    max-width: 100vw;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4.8rem;
    border-bottom: 0.1rem solid #1E1C1C;
  }
  
  .nav-left-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
  }
  
  .logo-container {
    width: 12rem;
    height: 12rem;
    background-color: #1E1C1C;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 0;
  }


  .logo {
    font-family: "DM Sans";
    font-size: 2.8rem;
    font-weight: 1000;
    line-height: .8;
    text-transform: lowercase;
    letter-spacing: -.1rem;
    color: white;
  }

  .logo:hover {
    color: white;

  }

  .logo--1 {
    padding-right: 1rem;
  }
  
  .logo--2 {
    padding-left: 3rem;
  }
  
  
  .nav-item {
    padding: 0;
    font-size: 1.6rem;
  }
  
  .nav-item--records {
    padding-left: 16rem;
  }
  
  
  .dropdown-menu {
    font-size: 1.4rem;
    padding: 2rem 1rem 1rem 1rem;
    margin-top: 1rem;
  }

  .dropdown-menu--account {
    margin-right: 10rem;
  }
  
  .dropdown-item {
    padding-bottom: 1rem;
  }
  

  .nav-right-container {
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }
  
  .search {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    padding: 0;
    width: fit-content;
  }
  
  .nav-i-container {
    display: flex;
    gap: 2.4rem;
  }
  
.nav-basket-container{

  position: relative;
  display: flex;
}

.basket-count-container {
height: 1.5rem;
width: 1.5rem;
position: absolute;
background-color: #1E1C1C;
top:-1.1rem;
right: -50%;
/*
transform: translate(58%, 0);

z-index: -1;
*/
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}

.product-count {
  color: white;
  
  font-size: 1rem;
}

/*
****************************
BOOTSTRAP TOASTS
****************************
*/

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
 
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}


/*
****************************
FOOTER
****************************
*/

.footer {
    max-width: 100vw;
    padding: 6.4rem 5.6rem 8rem 5.6rem;
    background-color: #1E1C1C;
    color: #fff;
  }
  .footer-subscribe {
    margin: 0 auto;
  }
  .subscribe-container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .subscribe-heading {
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  
  .subscribe-form {
    font-size: 1.6rem;
  
    display: flex;
    justify-content: center;
    gap: 2.6rem;
  }
  
  .subscribe-form input {
    font-size: 1.6rem;
    line-height: 13.6px;
    padding: 0.8rem 1.6rem;
    border: none;
    width: 750px;
  }
  
  .btn-footer {
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
    padding: 1.6rem 3.2rem;
    display: inline-block;
    border: #fff 2px solid;
    transition: all 0.3s;
    background-color: transparent;
    color: #fff;
  }
  
  .btn-footer:hover {
    background-color: #fff;
    color: #332f54;
  }
  
  .footer-divider {
    border-top: #fff 1px solid;
    margin-bottom: 6rem;
  }
  .footer-grid {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .footer-left {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 7.2rem;
  }
  
  .footer-right {
    display: flex;
    justify-content: end;
  }
  
  .footer-column {
    justify-content: flex-start;
    background-color: ;
  }
  
  .footer-heading {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
  }
  
  .footer-list {
    list-style: none;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    align-items: flex-start;
  }
  
  .footer-list-item {
    margin: 0 auto;
  
    background-color: ;
    margin-left: 0;
  }
  
  .social-colmn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: ;
  }
  
  .social-colmn-box .footer-list {
    background-color: ;
  }
  
  .social-colmn-box .footer-list .footer-list-item {
    font-size: 2rem;
    margin: 0 auto;
    text-align: center;
  }
  














