.navigation {
    max-width: 100vw;
    background-color: ;
    height:12rem;
    display: grid;
    grid-template-columns:max-content 1fr;
    

}

.logo-container {
    width: ;
    height:100%;
    display: flex;
    border: .1rem solid #333;
    align-items: center;
    padding: 0 4.8rem;
   

}

.logo {
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: ;
    line-height: 1;
    text-transform:uppercase;
    
    
}

.links-container {
    border: .1rem solid #333;
    border-left: none;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: right;
    padding-right: 4.8rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform:uppercase;

}

.dropdown-menu {
    padding: 2rem 1rem;
}

.dropdown-item {
    font-size: 1.3rem;
    letter-spacing: .05rem;
    padding-bottom: 1rem;

}




.footer {
    height:350px;
    width: 100vw;
    background-color: ;

}

.footer-container {
    height:100%;
    width: 100%;
    display: grid;
    grid-template-columns: .75fr 1fr 1.25fr;
    align-items: center;
   

}

.footer-left {
    height: 100%;
    border: .1rem solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.logo--footer {
    width: fit-content;
    font-size: 3.2rem;
    
    
}

.footer-center {
    height: 100%;
    border-top: .1rem solid #333;
    border-bottom: .1rem solid #333;
    display: flex;
    flex-direction: column;
    
    gap: 5rem;
    align-items: center;
    

}

.social-box {
    padding-top: 6rem;
    display: flex;
    
    gap: 1.8rem;
    align-items: center;
    justify-content: center;

}

.footer-center i {
    font-size: 2.8rem;
}

.contact-box {
    text-align: center;
}

.contact-box h2 {
    font-weight: 600;
    padding-bottom: 1rem;

}

.contact-box p {
    font-size: 1.4rem;
    padding-bottom: .8rem;
    
}
.footer-right {
    height: 100%;
    border: .1rem solid #333;
   

}