/*
****************************
BASKET.HTML
****************************
*/

.basket-container {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 6.4rem;
    min-height: 100vh;
    margin-top: 9.6rem;
    padding: 0 3.6rem;
}

.basket-col-right,
.basket-col-left {
    height: 100%;
}

.checkout-heading {
    text-transform: uppercase;
    padding-bottom: 2.4rem
}

/* left colunn */

.checkout-item {
    padding: 3.2rem 0 ;
    display: grid;
    grid-template-columns: 1.25fr 3fr;
    gap: 4.8rem;
    border-bottom: .1rem solid #333;
}

.checkout-item:first-of-type {
    border-top: .1rem solid #333;
}

.checkout-img {
    width: 100% 
}

.item-details-contatiner {
    display: flex;
    flex-direction: column;
}

.item-title-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.8rem;
}

.item-title,
.item-price {
    margin-bottom: 0;
    font-size: 1.8rem;
    font-weight: 500;
}

.item-price {
    font-size: 1.6rem;
}

.item-detail {
    letter-spacing: .03rem;
    font-size: 1.4rem;
    margin-bottom: 0;
    padding-bottom: .4rem;
}

.btn-container {
    width: 20rem;
    margin-top: 2.4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
}

.qty-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.4rem;
}

.delete-form {
    display: flex;
    flex-direction: column;
    justify-content:end;
}

.qty-input {
    font-size: 1.2rem;
    padding: .8rem 0rem  .8rem 1.6rem;
    border-radius: 0;
    border: .1rem solid #333;
  }
  
  .qty-input[type=number]::-webkit-inner-spin-button {
    width: 30px;
    height: 30px;
    padding-left: .2rem;
  }
  
  .qty-input:focus {
    outline: none;
  }

/* right colunn */

.basket-col-right {
    display: flex;
    justify-content: end;
}

.cost-container {
    width: 90%;
}

.cost-item {
    display: flex;
    justify-content: space-between;
    border-top: .1rem solid #333;
    padding: 2.8rem 0 2.4rem 0;
}

.item-detail--delta {
    font-size: 1.4rem;
    padding-bottom: 2.4rem;
}

.basket-col-right .item-detail {
    letter-spacing: .01rem;
    font-size: 1.6rem; 
}

.costs-item {
    font-size: 1.4rem;
    letter-spacing: .01rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2rem;
}

.item-detail--delta {
    font-size: 1.4rem;
}

/*
****************************
MEDIA QUERIES
****************************
*/

@media (max-width:768px) {

    .basket-container {
        width: 100vw;
        padding: 0 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 4.8rem;
        min-height: 0;
        margin-bottom: 6.2rem;
    }

    .checkout-item {
        width: 100%;
    }

    .cost-container {
        width: 100%;
        margin: 0 auto;
    }  
}