
/*
****************************
POSTS SECTION
****************************
*/
.section-recommendations {
  padding: 3.6rem;
}

.grid-container-blog {
  width:1200px;
  height: fit-content;
  display: grid;
  grid-template-rows: 400px auto;
  gap: 3.2rem;
  margin: 0 auto;
  padding: 3.6rem;
  background-color:#1E1C1C;
  margin-bottom: 6rem;
}

.item-1,
.item-2 {
  overflow: hidden;
  background-color: #eff2f3;
}

.item-1 {
  display: flex;
  gap: 3.2rem;
}

.item-2 {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0rem;
  align-items:flex-start;
}


.item-1 .img-container {
  width: 350px !important;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.item-1 .post-img,
.item-2 .post-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1.8rem;
  overflow:hidden;
}

.item-2-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
}

.item-2 .img-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.card-body-post {
  height: fit-content;
  width:auto;
  padding: 1.8rem;
}

.item-2 .card-body-post {
  padding-top: 0;
}

.card-title {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-top: 1.6rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

.card-sub-title {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  margin-bottom: 1.5rem;
}

.card-text {
  font-size: 1.2rem;
}

/*
****************************
MEDIA QUERIES POSTS
****************************
*/


@media (max-width:1200px) {

  .grid-container-blog {
    width:100vw;
  }

  .item-2 .img-container {
    height: 300px;
  }
}


@media (max-width:1025px ) {

  .item-2 .img-container {
    height: 225px;
  }
}

@media (max-width:780px) {
  .grid-container-blog {
    width:100vw;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .item-1,
  .item-2 {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 0rem;
    align-items:flex-start;
  }

  .item-2-container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
  }

  .item-1 .img-container,
  .item-2 .img-container {
    width: 100% !important;
    height: 350px;
    position: relative;
    overflow: hidden;
  }

  .item-1 .post-img,
  .item-2 .post-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1.8rem;
    overflow:hidden;
  }

  .card-body-post {
    padding-top: 0;
  }

  .item-2:nth-of-type(3) {
    display: none;
  }
}
    
@media (max-width:480px) {
  .item-1 .img-container,
  .item-2 .img-container {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
  }
 }

  