/*
****************************
CHECKOUT_SUCCESS.HTML
PROFILE_ORDER.HTML
****************************
*/
.success-container {
    width:750px;
    display: felx;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 12rem;
    padding: 0 3.6rem;
}

.row-container {
    margin: 0 auto;
}


.success-row,
.success-row--order-num {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}





.success-key,
.success-value {
    font-size: 1.6rem;
}

.success-key {
    font-weight: 600;
}

.sub-heading {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 2.4rem; 
}

.checkout-item {
    width: 100%;
    padding: 2rem 0 ;
   display: flex;
    gap: 1.8rem;
    align-items: center;
    border-bottom: .1rem solid #1E1C1C;
}

.checkout-item:first-of-type {
    border-top: .1rem solid white;
}

.checkout-img {
    width: 10rem;
}

.item-details-contatiner {
    width: 40rem;
    width:100%;
    display: flex;
    flex-direction: column;
}

.item-title-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.item-title {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 600;
}



.item-detail {
    letter-spacing: .01rem;
    font-size: 1.4rem;
    margin-bottom: 0;
    padding-bottom: .4rem;
    font-weight: 500;
  }


  @media (max-width:768px) {

    .success-container {
        width:100vw;
      
    }

    .success-key,
    .success-value {
        font-size: 1.4rem;

    }

   
    .success-row--order-num  {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }

    .sub-heading {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        margin-top: 2.4rem; 
    }
  }

