/*
****************************
CHECKOUT.HTML CSS
****************************
*/

.section-checkout {
    position: relative;
    margin-bottom: 12rem;
  
}

.checkout-background {
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1.16fr 1fr;
    position: absolute;
    left: 0;
    z-index: -1;
}

.background-right {
    background-color: #1E1C1C;
    
}

.checkout-container {
    max-width:1140px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    gap: 6.2rem;
    padding: 9.6rem 3.2rem 3.2rem 3.2rem;
  
}

.checkout-heading {
    text-transform: uppercase;
    padding-bottom: 2.4rem
}

/*
****************************
LEFT COLUMN
****************************
*/

.checkout-col-left {
    display: flex;
    flex-direction: column;
    gap: 8rem;
}

.checkout-form {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

fieldset {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.form-check {
    font-size: 1.4rem;
}


.card-error,
.card-warning {
    text-align: center;
    color: red;
    font-size: 1.4rem;
}

.card-warning {
    margin-top: 2rem;
}



/*
****************************
RIGHT COLUMN
****************************
*/

.checkout-col-right {
     color: white;
     padding-left: 3.2rem;
 }

.checkout-col-right-container {
    width: 100%;
}
.checkout-item {
    width: 100%;
    padding: 2rem 0 ;
    display: grid;
    grid-template-columns: .25fr 1fr;
    gap: 1.8rem;
    border-bottom: .1rem solid white;
    
}

.checkout-item:first-of-type {
    border-top: .1rem solid white;
}

.checkout-img {
    width: 6rem;
}

.item-details-contatiner {
    width: 40rem;
    width:100%;
    display: flex;
    flex-direction: column;
}

.item-title-box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.item-title,
.item-price {
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 500;
}

.item-price {
    font-size: 1.4rem;
}

.item-detail {
    letter-spacing: .01rem;
    font-size: 1.4rem;
    margin-bottom: 0;
    padding-bottom: .4rem;
  }

.item-detail:last-child {
    padding-bottom: 0;
}

.costs-container {
    width: 100%;
    padding-top: 2.4rem;
}

.costs-item {
    font-size: 1.4rem;
    letter-spacing: .01rem;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.2rem;
}

.costs-item:nth-child(4) {
    padding-bottom: 2.4rem;
}

.costs-item p {
    margin-bottom: 0;
}

.costs-item--delta {
    font-size: 1.2rem;
}

.total {
    padding-top: 2.4rem;
    border-top: .1rem solid white;
}

.total p {
    text-transform: uppercase;
    font-weight: 500;
    font-size:2rem;  
}

/*
****************************
STRIPE
****************************
*/



.StripeElement {
   
    
    color: #1E1C1C;
    box-sizing: border-box;
    height: 40px;
    padding:1.2rem 1.2rem;
    margin-left: 0;
    border: .1rem solid #1E1C1C; 
    border-radius: 0px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    outline: none;
  
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}



.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value="Country"] {
    color: #aab7c4 !important;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}


/*
****************************
MEDIA QUERIES
****************************
*/



@media (max-width:1200px) {
.checkout-col-right {

    padding-left: 0;
}
}


@media (max-width:768px) {

    .checkout-background {
        display: none;
    }

    .checkout-container {
        width:100vw;
        min-height: 0;
        display: flex;
        flex-direction: column-reverse;
   
        gap: 6.2rem;
        padding: 9.6rem 0rem;
    
    }

    .checkout-col-right { /* Now top */
        padding-left: 0;
    background-color: #1E1C1C;
  
    padding: 2.4rem 2.4rem 6rem 2.4rem;
      
    }

    .checkout-col-left { /* Now bottom */
        padding: 0 2.4rem;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
   
}