


.section-checkout {
    position: relative;
    max-width: 100vw;
}


.checkout-background {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1.16fr 1fr;
    
    position: absolute;
    left:0;
    z-index: -1;
}

.background-left {
    
}
.background-right {
    background-color: lightblue;
}


.checkout-container {
    max-width:1140px;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.25fr 1fr;
}



.checkout-shipping-container {
    background-color: pink;
    

}

.checkout-basket-container {
    background-color: lightblue;
    border: .25rem solid black;


}

