/*
****************************
NAVIGATION
****************************
*/

.navigation {
	font-size: 1.8rem;
	max-width: 100vw;
	height: 7rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4.8rem;
	border-bottom: 0.1rem solid #1E1C1C;
}

.nav-left-container {
	position: relative;
	width: 12rem;
}

.logo-container {
	width: 12rem;
	height: 12rem;
	background-color: #1E1C1C;
	display: flex;
	flex-direction: column;
	position: absolute;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	top: -1.25rem;
}

.logo {
	font-family: "DM Sans";
	font-size: 2.8rem;
	font-weight: 1000;
	line-height: .8;
	text-transform: lowercase;
	letter-spacing: -.1rem;
	color: white;
}

.logo:hover {
	color: white;
}

.logo--1 {
	padding-right: 1rem;
}

.logo--2 {
	padding-left: 3rem;
}

.nav-right-container {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	padding-left: 6.2rem;  /* ************** */

	
}

.icons-container {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.dropdown-toggle {
	display: flex;
	align-items: center;
}

.nav-item {
	padding: 0;
	font-size: 1.8rem;
}

.dropdown-menu {
	font-size: 1.4rem;
	padding: 2rem 1rem 1rem 1rem;
	margin-top: 1rem;
	border-color: #1E1C1C;
	border-radius: 0;
}

.dropdown-menu--account {
	margin-right: 10rem;
}

.dropdown-item {
	/*
	margin-bottom: 1rem;
	*/
	padding-top: .5rem;
	padding-bottom: .5rem;
	margin-bottom: .5rem;
	padding-left: 1rem;
}

.dropdown-item:hover {
	background-color: #EBEAEA;
	color:  #8f8e8e;
	background-color: transparent;
	

}

.nav-item--basket {
	position: relative;
	display: flex;
}




.basket-count-container {
	height: 1.5rem;
	width: 1.5rem;
	position: absolute;
	background-color: #1E1C1C;
	top: -1.1rem;
	right: -50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.product-count {
	color: white;
	font-size: 1rem;
}


.input-group-append,
.icon i {
	border: none;
}
    #search-box {
        display: none;
        font-family: Helvetica;
        padding: .75rem 1.25rem;
        font-size: 1.4rem;
        color: #8f8e8e; /* not placeholder */
		border: .1rem solid #1E1C1C;
        letter-spacing: .04rem;
        width: 300px;
        animation: slide 1s 1;
		outline: none;
    }

	
	

    #search-box:focus,
    #search-box:link,
    #search-box:active {
        border: none;
		background-color: transparent; /* Set background color to transparent when focused */
		outline: none;
		border: .1rem solid #1E1C1C;
		-webkit-box-shadow: none;
		box-shadow: none;
		
	}
	


.btn-search {
	border: none;
	background-color: white;
	margin-left: 1.2rem;
	outline: none;
}

.btn-search:focus,
.btn-search:link,
.btn-search:active {
	outline: none;
	border: none;
	color: #8F8E8E;
	background-color: transparent; /* Set background color to transparent when focused */
	
	
}

/*
****************************
TOASTS
****************************
*/
/*

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}


*/









/*
****************************
MEDIA QUERIES
****************************
*/

@media (max-width: 768px) {

	.navigation {
		font-size: 1.6rem;
		height: 6rem;
		padding: 0 2.4rem;
		position: relative;
		border-bottom: none;
   	}

	   

	.input-group {
		font-size: 1.6rem;
   	}

	.nav-left-container {
		position: relative;
		width: 8.6rem;
		
   	}

	.logo-container {
		width: 8.6rem;
		height: 8.6rem;
		top: -1rem;
		
   	}

	.logo {
	
		font-size: 2rem;
   	}

	.nav-right-container {
		display: flex;
		align-items: center;
		width: fit-content;
		justify-content: end;
		gap: 1.6rem;
   	}

	.icons-container {
		gap: 1.6rem;
   	}

	.nav-item {
		font-size: 1.8rem;
   	}

	.nav-item--records {
		padding-left: 0;
   	}

	.dropdown-menu {
		font-size: 1.4rem;
   	}

	.btn-search {
		margin-left: 0;
   	}

	#search-box {
		width:250px;
		position:absolute;
		top: 47.5px;
		transform: translate(-57%, 0);
   	}
}

@media (max-width: 480px) {
	
	.navigation {
		font-size: 1.4rem;
		padding: 0 1.6rem;
   	}
}



