.section-home {
    
    height: calc(100vh - 13rem) !important;
    max-width: 100vw !important;
    overflow:hidden;
    margin-left: 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;

}

.grid-col-left {
    background-color:lightgreen;
   
}

.grid-col-right {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr;
    
    
}

.right-1 {
      
}

.right-2 {
    background-color: pink;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
      
}

.cover-img-container {
   
   

}

.cover-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
   
   
   
      
}

.delivery-banner {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    
    padding: .8rem;
    background-color: aliceblue;
    
}