/*
****************************
SECTION HOME
****************************
*/

.section-home {
  height: calc(100vh - 7rem) !important;
  max-width: 100vw !important;
}

.home-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr;
}

.home-col-left {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.text-container {
  width: 350px;
  padding: 0 0 9.6rem 6.4rem;
}

.text-container h1 {
  font-weight: 900;
  padding-bottom: 1.6rem;
  border-bottom: 0.1rem solid #333;
}

.text-container p {
  font-size: 1.6rem;
  padding-top: 2.4rem;
  line-height: 1.1;
}

.home-col-right img {
  width: 100%;
  height: calc(100vh - 7rem);
  object-fit: cover;
}

/*
****************************
RECOMMENDATION SECTION
****************************
*/

.vh-container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 3.6rem;
}

.head-container-center {
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 6.2rem;
}

.item-1-container {
  height:100%;
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 6.2rem;
}

.item-1 {
  height:100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1.25fr 1fr;
  gap: 3.6rem;
  background-color: #eff2f3;
}

.item-1 .img-container {
  height: 100%;
  width: 100%;
  object-fit:contain;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content:center;
}

.item-1 img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit:cover;
  overflow: hidden;
  padding: 2.4rem;
}

.item-1 .card-body-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.item-1 .post-card-title {
  font-size: 3.6rem;
  margin-bottom: .75rem;
}

.item-1 .post-card-sub {
  font-size: 1.6rem;
}

.item-2-container:first-of-type {
  display: none;
}

.item-2-container {
  width: 1400px;
  margin: 0 auto;
  display: grid;
  margin-top: 3.2rem;
  margin-bottom: 6.4rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.2rem;
}

.item-2:first-of-type {
  display: none;
}

.item-2 {
  overflow: hidden;
  background-color: #eff2f3;
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 0rem;
  align-items:flex-start;
}

.item-2 .post-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 1.8rem;
  overflow:hidden;
}


.item-2 .img-container {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
}

.post-card-title {
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  line-height: 1;
}

.card-body-post {
  height: fit-content;
  width:auto;
  padding: 1.8rem;
}

.item-2 .card-body-post {
  padding-top: 0;
}

.post-card-sub {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  line-height: 1.25;
  margin-bottom: 1.5rem;
}

.post-card-text {
  font-size: 1.2rem;
}

/*
****************************
MEDIA QUERIES
****************************
*/

@media (max-width:1475px) {
 
  /* section recommendations */

  .vh-container {
    height: 70vh;
    padding: 0;
  }

  .head-container-center {
   padding: 3.6rem;
  }

  .item-1-container,
  .item-2-container {
    width:100vw;
    padding: 0 3.6rem;
  }

  .item-2 .img-container {
    height: 300px;
  }
}


@media (max-width:1025px ) {

  /* section recommendations */

  .head-container-center {
    margin-bottom: 4.8rem;
    padding-bottom: 0;
  }

  .item-2 .img-container {
    height: 225px;
  }

  .item-1 .post-card-title{
    font-size: 2.4rem;
  }

  .post-card-title {
    font-size: 2rem;
  }

  .item-1 .post-card-sub {
    font-size: 1.4rem;
  }
  
}

@media (max-width:768px) {

  section { 
    border-top: .1rem solid black;
    border-bottom: .1rem solid black;
  }

  /* section landing */

  .section-home {
    height: calc(100vh - 6rem) !important;
  }

  .home-container {
    display: grid;
    grid-template-rows: 2.25fr 1fr;
    grid-template-columns:  1fr;
    height: 100%;
  }

  .home-col-right { /* now top row */
    grid-row: 1; 
    height: 100%;
    width: 100vw;
    flex-grow: 1;
    overflow: hidden;
  }
  
  .home-col-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .home-col-left { /* now bottom row */
    display: block;
  }

  .text-container {
    width: 350px;
    padding: 3.6rem 2.4rem 4.8rem 2.4rem;
  }
  
  .text-container h1 {
    font-size: 2rem;
    padding-bottom: 1.2rem;
  }
  .text-container p {
    font-size: 1.4rem;
    padding-top: 1.4rem;
    line-height: 1.1;
  }

  /* section recommendations */

  .vh-container {
    height: auto;
    display: block;
  }

  .item-1-container,
  .item-2:nth-of-type(3) {
   display: none;
  }

  .item-2:first-of-type {
    display: block;
  }

  .item-2-container {
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    width: 100%;
    padding: 2.4rem;
  }

  .item-2 {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 0rem;
    align-items:flex-start;
  }

  .item-2 .img-container {
    width: 100% !important;
    height: 350px;
    position: relative;
    overflow: hidden;
  }

  .item-2 .post-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1.8rem;
    overflow:hidden;
  }

  .card-body-post {
    padding-top: 0;
  }

  .item-1 .post-card-title{
    font-size: 2.4rem;
    padding-top: 0rem;
  }

}

@media (max-width:480px) {

  /* section recommendations */

  .item-2 .img-container {
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
  }
 }
