/*
****************************
PRODUCTS.HTML
****************************
*/


.products-main {
    display: flex;
    padding: 0 2.25rem;
}

/* aside classes */

.aside--right,
.aside-left {
    width: 125px;
}

.aside-category h3 {
  text-transform: uppercase;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.aside--right {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.aside-container--right {
  width: fit-content;
}

.aside-category--right {
  width: fit-content;
}

.links-container {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.category-link {
  font-size: 1.3rem;
  
  text-transform: capitalize;
  padding: .2rem;
line-height: 1.2;
}

.category-link--active {
  background-color: #EBEAEA;
	
}

/* other classes */

/* Shown on screens under 764px */
.dropdown-links-container {
    display: none;
}

.products-grid {
  gap: 4rem;
  padding: 0 6.4rem 0 6.4rem;
}

.dropdown-links-container {
  display: flex;
  justify-content:space-around;
  padding: 0 2rem;
  margin-bottom: 2.8rem;
  display: none;
}

.btn-custom--products {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .05rem;
  text-decoration: none;
  text-align: center;
  width: 100%;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0;
  border:  #1E1C1C .1rem solid;
  transition: all 0.3s;
  outline: transparent;
}

.btn-custom--products:hover,
.btn-custom--products:focus,
.btn-custom--products:active {
  background-color: #1E1C1C;;
  color: #fff;
  border: #1E1C1C .1rem solid;
  outline: transparent;
}

.dropdown-menu--sort {
  margin-right: 7rem;
}

/*
****************************
MEDIA QUERIES
****************************
*/

@media (max-width:1250px) {

  .products-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.4rem;
    padding: 0 2.4rem;
  }
}

@media (max-width:1025px) {

  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width:768px) {

    .products-main {
      padding: 0 ;
    }

  .products-grid {
    grid-template-columns: 1fr 1fr;
    gap: 1.8rem;
  }
  
  .aside--right,
  .aside--left {
      display: none;
  }

  .dropdown-links-container {
    display: flex;
  }
}
