/*
****************************
PROFILE.HTML CSS
****************************
*/

.main-profile {
    position: relative;
    margin-bottom: 12rem;
}

p {
    font-size: 1.4rem;
}

.profile-container {
    
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.2rem;
    padding: 9.6rem 3.2rem 0 3.2rem; 
}

/*
****************************
LEFT COLUMN
****************************
*/

.profile-col-left {
    width: 100%;
    display: flex;
    justify-content: end;
    padding-top: 1.2rem;
}

.form-container {
    width: 450px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap:4rem;
}

.heading {
    text-transform: uppercase;
    padding-bottom: 0rem;
    color: #1E1C1C;
}

.fieldset {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.fieldset--delivery legend {
    margin-bottom: 1.4rem;
}

.btn-custom {
    margin-bottom: 3.2rem;
    font-weight: 600;
}

/*
****************************
RIGHT COLUMN
****************************
*/

.profile-col-right {
     color: white;
     padding: 1.2rem 3.2rem;
     background-color: #1E1C1C;
 }

.table-container {
    width: 100%;
}

.table-container .heading {
    color: white;
    margin-bottom: 6.4rem;
}

.table {
    font-size: 1.4rem;
    color: white;
}

th a {
    color: white;
}

th a:hover {
    color: rgb(208, 208, 208);
}
.tb-row-center {
    text-align: center;
}

/*
****************************
MEDIA QUERIES
****************************
*/


@media (max-width:1200px) {

    .profile-container {
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3.2rem;
        padding: 9.6rem 3.2rem 0rem 3.2rem; 
    }

    .profile-col-left {
        width: 100%;
        justify-content: center;
    }

    .form-container {
        width: 100%;
    }
}

@media (max-width:768px) {

    .profile-container {
        display: flex;
        flex-direction:column;
        gap: 4rem;
        width: 100vw;
        padding: 0;
        padding-top: 9.6rem; 
    }

    .profile-col-left { /* Now top */
        width: 100%;
        display: block;
        padding: 0 1.2rem;
    }

    .form-container {
        width: 100%;
        padding: 0;
    }

    .profile-col-right { /* Now bottom */
        color: white;
        padding: 0;
        padding: 1.2rem;
    }
   
   .table-container {
       width: 100%;
   }
   
   .table-container .heading {
       margin-bottom: 2.4rem;
   }
   
   .table tr {
       font-size: 1.4rem;
   }
     
}

@media (max-width:481px) {

    .table tr {
        font-size: 1.2rem;
    }
}