/*
****************************
TOASTS
****************************
*/

.custom-toast {
    overflow: visible;
    border-color: #1E1C1C;
}
  
.toast {
    font-size: 1.4rem;
    letter-spacing: .03rem;
    box-shadow: none;
}
  
.toast-header,
.toast-body {
    border-color: #1E1C1C;
    padding: 1rem 2rem;
}

.toast-body {
  letter-spacing: .04rem;
  line-height: 1.25;
}

.toast {
    border-color: #1E1C1C;
}

.message-success {
    color: #468847;
    background-color: #d3e8d8;
    border: none;
}

.message-error {
    color: #884646;
    background-color: #e8d3d3;
    border: none;
}

.message-info {
    color: #9b984e;
    background-color: #e5e4b6;
    border: none;
}

.message-warning {
    color: #ce8020;
    background-color: #e0af70;
    border: none;
}

.btn-toast-close:focus,
.btn-toast-close:active,
.btn-toast-close:hover {
    outline: none;
}

@media (max-width:1200px) {

    .custom-toast {
        transform: translate(0 , 2.5rem);
    }
}