<div class="toast custom-toast rounded-0 border-top-0" data-autohide="false">
    <div class="arrow-up arrow-warning"></div>
    <div class="w-100 toast-capper bg-warning"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="mr-auto">Warning!</strong>
        <button type="button" class="ml-2 mb-1 close text-dark" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body bg-white">
        {{ message }}        
    </div>
</div>


{% block extra_js %}
<script>
    // Function to close the toast
    function closeToast() {
        $('#toast').toast('hide');
    }

    // Listen for clicks on all links
    document.querySelectorAll('a').forEach(function(link) {
        link.addEventListener('click', closeToast);
    });

    // Initialize the toast with Bootstrap's JavaScript
    $(document).ready(function() {
        $('#toast').toast({ autohide: false });

        // Listen for clicks on the close button inside the toast
        document.querySelector('.btn-toast-close').addEventListener('click', closeToast);
    });
</script>
{% endblock %}