<div class="toast--info toast custom-toast rounded-0  mt-4" id="toast" data-autohide="true" data-delay="2000">
    
    <div class="toast-body bg-white">
        {{ message }}
    
    </div>
</div>

{% block extra_js %}
<script>
    // Function to close the toast
    function closeToast() {
        $('#toast').toast('hide');
    }

    // Listen for clicks on all links
    document.querySelectorAll('a').forEach(function(link) {
        link.addEventListener('click', closeToast);
    });

    // Initialize the toast with Bootstrap's JavaScript
    $(document).ready(function() {
        $('#toast').toast({ autohide: false });

        // Listen for clicks on the close button inside the toast
        document.querySelector('.btn-toast-close').addEventListener('click', closeToast);
    });
</script>
{% endblock %}