<div class="toast--info toast custom-toast rounded-0  mt-4" id="toast" data-autohide="true" data-delay="2000">
    
    <div class="toast-body bg-white">
        {{ message }}
    
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var toast = document.getElementById('toast');
        document.addEventListener('click', function(event) {
            var isClickInsideToast = toast.contains(event.target);
            if (!isClickInsideToast) {
                toast.style.display = 'none';
            }
        });
    });
</script>