
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/management.css' %}">
{% endblock %}

{% block content %}
    <div class="overlay mt-5"></div>
    <div class="container container--product-management">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Artists Management</h2>
                <h5 class="text-muted">Add, edit and delete artist names.</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Products</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for artist in artists %}
                        <tr>
                        <td>{{ artist.name }}</td>
                        <td><a class="btn btn-outline" href="{% url 'product-management' %}?artist={{ artist.name }}">View Albums</a></td>
                        <td><a class="btn btn-outline-warning" href="{% url 'edit-artist' artist.id %}">Edit</a></td>
                        <td><a class="btn btn-outline-danger" href="">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}