
{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/product.css' %}">
{% endblock %}


     

{% block extra_meta %}
<meta name="description" content="Product page for {{ product.title }} by {{ product.artist }} ">
<meta name="keywords" content="{{ product.title }} vinyl, {{ product.title }} record, {{ product.artist }}">
{% endblock %}


{% block content %}
    <div class="product-container">
        
        <div class="img-container">
            {% if product.on_sale == True %}
                      <div class="on-sale-container">
                            <p>On Sale</p>
                      </div>
                {% endif %}
            <img src="{{ product.featured_image.url }}" alt="Cover image of {{ product.title }} by {{ product.artist }}">
        </div>

        <div class="details-container">
            <h1 class="product-title"> {{ product.title }}</h1>
            <p class="product-artist"> {{ product.artist }}</p>
            {% for genre in product.genres.all %}
                <span>
                    <a href="{% url 'products' %}?genre={{genre.name}}"><p class="genre-tag">{{genre}}</p></a>
                </span>
            {% endfor %}
            <p class="product-description"> {{ product.description }}</p>

            <div class="info-box">
                <p class="product-condition"> Condition: {{ product.condition }}</p>
                <p class="product-stock"> Stock: {{ product_stock }}</p>
                {% if product.on_sale == True %}
                    <p class="product-price"><s> €{{ product.price }}</s> €{{ product.sale_price }}</p>
                {% else %}
                    <p class="product-price"> Price: €{{ product.price }}</p>
                {% endif %}
            </div>

            <form class="form" action="{% url 'add-basket' product.id %}" method="POST">
                {% csrf_token %}
                <input class=" qty-input" type="number" name="quantity" value="1" min="1" max="99">
                <input type="submit" class="btn-custom btn-add" value="Add to Basket">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
            <form class="form" action="{% url 'add-wishlist' product.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn-custom" value="Add to Wishlist">
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
            </form>
        </div>
    </div>
{% endblock %}


{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}



