{% extends "base.html" %} 
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/products.css' %}">
{% endblock %}

{% block content %} 
    
    <div class="head-container-center">
        <h1 class="head-heading">{{section_heading}}</h1>
        <p class="head-text">
            {{ section_text }}
        </p>
    </div>

    <!-- Not displayed on screens lower than  768px -->
    <div class="dropdown-links-container">
        <div class=" dropdown">
            <a class="btn-custom--products" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Artist</a>
            <div class="dropdown-menu">
                {% for artist in artists %}
            <a  class="dropdown-item" href="{% url 'products' %}?artist={{ artist }}"><p>{{ artist.name }}</p></a>
            {% endfor %}
            </div>
        </div>

        <div class="nav-item dropdown">
            <a class="btn-custom--products" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Caregories</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}?condition=fresh">Latest Releases</a>
                <a class="dropdown-item" href="{% url 'products' %}">All</a>
                <a class="dropdown-item" href="{% url 'products' %}?condition=New">New</a>
                <a class="dropdown-item" href="{% url 'products' %}?condition=New">New</a>
                <a class="dropdown-item" href="{% url 'products' %}?condition=Used">Used</a>
                <a class="dropdown-item" href="{% url 'products' %}?sale=on_sale">On Sale</a>
            </div>
        </div>

        <div class="nav-item dropdown">
            <a class="btn-custom--products" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</a>
            <div class="dropdown-menu dropdown-menu--sort" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}?condition=fresh">Price acending</a>
                <a class="dropdown-item" href="{% url 'products' %}">Price decending</a>
            </div>
        </div>
    </div>

    <main class="products-main">
            
        <aside class="aside--left">
            <div class="aside-category  mb-5">
                <h3 class="aside-heading">categories</h3>
                <a href="{% url 'products' %}"><p>All</p></a>
                <a href="{% url 'products' %}?condition=New"><p>New</p></a>
                <a href="{% url 'products' %}?condition=Used"><p>Used</p></a>
                <a href="{% url 'products' %}?sale=on_sale"><p>On Sale</p></a>
                <a href="{% url 'products' %}?condition=fresh"><p>Latest Releases</p></a>
            </div>

            <div class="aside-category ">
                <h3 class="aside-heading">artists</h3>
                {% for artist in artists %}
               
              
                    <p><a class="category_link" href="{% url 'products' %}?artist={{ artist.name }}">{{ artist.name }}</a></p>
              
                {% endfor %}
        
              
            </div>
        </aside>


      




        <div class="products-grid">
            {% for album in albums %}
                <div class="card">
                    {% if album.on_sale == True %}
                        <div class="on-sale-container">
                            <p>On Sale</p>
                        </div>
                    {% endif %}

                    <a class="product-link" href=" {% url 'product' album.id %}">
                        <img class="card-img" src="{{ album.featured_image.url }}" alt="Cover image of {{ album.title }} by {{ album.artist }}"/>
                    </a>
                    <div class="card-body">
                        <a class="product-link" href=" {% url 'product' album.id %}">
                            <h5 class="card-title"><strong>{{ album.title }}</strong></h5>
                        </a>
                        <p class="card-artist">{{ album.artist }}</p>
                        <div class="card-details">
                            <p class="card-text">Condition: {{ album.condition }}</p>
                            <p class="card-text">Stock: {{ album.stock }}</p>
                            {% if album.on_sale == True %}
                            <p class="card-text"><s>€{{ album.price }}</s> €{{ album.sale_price }}</p>
                            {% else %}
                            <p class="card-text">€{{ album.price }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <aside class="aside--right">
            <div class="aside-container--right">
                <div class="aside-category  aside-category--right mb-5">
                    <h3 class="aside-heading">sort</h3>

                    <p><a class="{% if request.GET.sort == 'price_asc' %}active-category{% endif %}" href="{% url 'products' %}?sort=price_asc{% if request.GET.artist %}&artist={{ request.GET.artist }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}{% if request.GET.condition %}&condition={{ request.GET.condition }}{% endif %}{% if request.GET.sale %}&sale=true{% endif %}{% if request.GET.latest %}&latest=true{% endif %}">Price ascending</a></p>
                    <p><a class="{% if request.GET.sort == 'price_desc' %}active-category{% endif %}" href="{% url 'products' %}?sort=price_desc{% if request.GET.artist %}&artist={{ request.GET.artist }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}{% if request.GET.condition %}&condition={{ request.GET.condition }}{% endif %}{% if request.GET.sale %}&sale=true{% endif %}{% if request.GET.latest %}&latest=true{% endif %}">Price descending</a></p>

                    

                    <p><a class="{% if request.GET.sort == 'title_asc' %}active-category{% endif %}" href="{% url 'products' %}?sort=title_asc{% if request.GET.artist %}&artist={{ request.GET.artist }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}{% if request.GET.condition %}&condition={{ request.GET.condition }}{% endif %}{% if request.GET.sale %}&sale=true{% endif %}{% if request.GET.latest %}&latest=true{% endif %}">By title</a></p>
           
                    
                    
                </div>
                <div class="aside-category  aside-category--right">
                    <h3 class="aside-heading">genres</h3>
                    {% for genre in genres %}
                    {% if genre.name in genre_active %}
                    <p><a class=" active-category" href="{% url 'products' %}?genre={{genre}}">{{ genre.name }}</a></p>
                    {% else %}
                    <p><a class="category" href="{% url 'products' %}?genre={{genre}}">{{ genre.name }}</a></p>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </aside>
    </main>
    
{% endblock %}





{% block extra_js %}



<script src="{% static 'js/script.js' %}"></script>

{{ block.super }}
<script src="{% static 'js/products.js' %}"></script>
{% endblock%}