{% extends "base.html" %} 
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'styles/products.css' %}">
{% endblock %}

{% block content %} 
    
    <div class="head-container-center">
        <h1 class="head-heading">{{section_heading}}</h1>
        <p class="head-text">
            {{ section_text }}
        </p>
    </div>

    <!-- Not displayed on screens lower than  768px -->
    <div class="dropdown-links-container">
        <div class=" dropdown">
            <a class="btn-custom--products" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Artist</a>
            <div class="dropdown-menu">
                {% for artist in artists %}
                
            <a  class="dropdown-item" href="{% url 'products' %}?artist={{ artist }}"><p>{{ artist.name }}</p></a>
            {% endfor %}
            </div>
        </div>

        <div class="nav-item dropdown">
            <a class="btn-custom--products" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Caregories</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}?condition=fresh">Latest Releases</a>
                <a class="dropdown-item" href="{% url 'products' %}">All</a>
                <a class="dropdown-item" href="{% url 'products' %}?condition=New">New</a>
                <a class="dropdown-item" href="{% url 'products' %}?condition=New">New</a>
                <a class="dropdown-item" href="{% url 'products' %}?condition=Used">Used</a>
                <a class="dropdown-item" href="{% url 'products' %}?sale=on_sale">On Sale</a>
            </div>
        </div>

        <div class="nav-item dropdown">
            <a class="btn-custom--products" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sort</a>
            <div class="dropdown-menu dropdown-menu--sort" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'products' %}?condition=fresh">Price acending</a>
                <a class="dropdown-item" href="{% url 'products' %}">Price decending</a>
            </div>
        </div>
    </div>

    <main class="products-main">
            
        <aside class="aside--left">
            <div class="aside-category  mb-5">
                <h3 class="aside-heading">categories</h3>
                <div class="links-container">
                <p><a class="category-link" href="{% url 'products' %}">All</a></p>
                <p><a class="category-link {% if request.GET.category == 'New' %}category-link--active{% endif %}" href="{% url 'products' %}?category=New">New</a></p>
                <p><a class="category-link {% if request.GET.category == 'Used' %}category-link--active{% endif %}" href="{% url 'products' %}?category=Used">Used</a></p>
                <p><a class="category-link {% if request.GET.category == 'on_sale' %}category-link--active{% endif %}" href="{% url 'products' %}?category=on_sale">On Sale</a></p>
                <p><a class="category-link {% if request.GET.category == 'latest' %}category-link--active{% endif %}" href="{% url 'products' %}?category=latest">Latest Releases</a></p>
            </div>
            </div>

            <div class="aside-category ">
                <h3 class="aside-heading">artists</h3>
                <div class="links-container">
                    {% for artist in artists %}
                        <p><a class="category-link {% if request.GET.artist == artist.name %}category-link--active{% endif %}" href="{% url 'products' %}?artist={{ artist.name }}">{{ artist.name }}</a></p>
                    {% endfor %}
                </div>
            </div>
        </aside>


        <div class="products-grid">
            {% for album in albums %}
                <div class="card">
                    {% if album.on_sale == True %}
                        <div class="on-sale-container">
                            <p>On Sale</p>
                        </div>
                    {% endif %}

                    <a class="product-link" href=" {% url 'product' album.id %}">
                        <img class="card-img" src="{{ album.featured_image.url }}" alt="Cover image of {{ album.title }} by {{ album.artist }}"/>
                    </a>
                    <div class="card-body">
                        <a class="product-link" href=" {% url 'product' album.id %}">
                            <h5 class="product-card-title"><strong>{{ album.title }}</strong></h5>
                        </a>
                        <p class="card-artist">{{ album.artist }}</p>
                        <div class="card-details">
                            <p class="card-text">Condition: {{ album.condition }}</p>
                            <p class="card-text">Stock: {{ album.stock }}</p>
                            {% if album.on_sale == True %}
                            <p class="card-text"><s>€{{ album.price }}</s> €{{ album.sale_price }}</p>
                            {% else %}
                            <p class="card-text">€{{ album.price }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <aside class="aside--right">
            <div class="aside-container--right">
                <div class="aside-category  aside-category--right mb-5">
                    <h3 class="aside-heading">sort</h3>
                    <div class="links-container">
                        <p><a class="category-link {% if request.GET.sort == 'price_asc' %}category-link--active{% endif %}" href="{% url 'products' %}?sort=price_asc{% if request.GET.artist %}&artist={{ request.GET.artist }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.latest %}&latest=true{% endif %}">Price ascend</a></p>
                        <p><a class="category-link {% if request.GET.sort == 'price_desc' %}category-link--active{% endif %}" href="{% url 'products' %}?sort=price_desc{% if request.GET.artist %}&artist={{ request.GET.artist }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.latest %}&latest=true{% endif %}">Price descend</a></p>
                        <p><a class="category-link {% if request.GET.sort == 'title_asc' %}category-link--active{% endif %}" href="{% url 'products' %}?sort=title_asc{% if request.GET.artist %}&artist={{ request.GET.artist }}{% endif %}{% if request.GET.genre %}&genre={{ request.GET.genre }}{% endif %}{% if request.GET.category %}&category={{ request.GET.category }}{% endif %}{% if request.GET.latest %}&latest=true{% endif %}">By title</a></p>
                    </div>
                </div>
                <div class="aside-category  aside-category--right">
                    <h3 class="aside-heading">genres</h3>
                    <div class="links-container">
                        {% for genre in genres %}
                            <p><a class="category-link {% if request.GET.genre == genre.name %}category-link--active{% endif %}" href="{% url 'products' %}?genre={{genre.name}}">{{ genre.name }}</a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </aside>
    </main>
    
{% endblock %}





{% block extra_js %}

{{ block.super }}
<script src="{% static 'js/products.js' %}"></script>
{% endblock%}


